.home-section{
    float:left;
    width: 10%;
}
.section{
    margin-left: 10%;
    float:left;
}
.photo{
    padding-right: 5px;
}
.row.content {height: auto;}
.sidenav {
    background-color: #f1f1f1;
    height: 100%;
}
footer {
    background-color: #555;
    color: white;
    padding: 15px;
}
@media screen and (max-width: 767px) {
    .sidenav {
        height: auto;
        padding: 15px;
    }
    .row.content {height: auto;}
}